# from https://github.com/github/gitignore/blob/master/KiCad.gitignore
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Footprint cache
fp-info-cache
*.kicad_prl

**/*-backups/*.zip

*.vscode
specs
videos
ecad/bom
Software/_sync-software.sh
mkdocs/src/hardware/cad/_sync-cad.sh
ecad/controller-backups
mkdocs/src/software/api_table.xlsx
ecad/old_zips
