Software/.ipynb_checkpoints
Documentation Source/build

# from https://github.com/github/gitignore/blob/master/KiCad.gitignore
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Footprint cache
fp-info-cache


# Ignore sketch files
*.sketch
*.vscode
*.zip
pcb/syringe_board-backups
specs
videos
*.kicad_prl
Software/resolution calculation.Rmd
Software/syringe_diameters.png
