.wy-table-odd td,
.wy-table-striped tr:nth-child(n) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(n) td {
    background-color: #f3f6f6
}

.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #f3f6f6;
}

/* Top row of table. Change to dark background with white text */
.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    color: white;
    background-color: #5b7373;
}

/* Top row of table. Center headings text */
.wy-table thead th,
.rst-content table.docutils thead th,
.rst-content table.field-list thead th {
    text-align: center;
}

/* Remove gap that occurs after a numberer item followed by bullet points */
.wy-plain-list-decimal,
.rst-content .section ol,
.rst-content ol.arabic,
article ol {
    margin-bottom: 0px;
}

/* remove spacing in header */
th p{
    margin-bottom: 0px;
}

/* gives white border to header */
.head{
    border: 1px solid white;
}